__pycache__/
*.py[cod]
*$py.class


*.pyc
.vscode
output*
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots


data*
data/
data_backup/*

log/
logs/


run_scripts*
thesis/*

docs/
thesis.zip
train.py.pre_p29_20260626